<% @bears.each do |bear| %>
  <li>
    <%= link_to 'Delete', bear, method: :delete, data: {confirm: 'Are you sure?'} %>
    <%= link_to 'Update', edit_bear_path(bear) %>
    <%= link_to bear.name, bear_url(bear) %>
  </li>
<% end %>
<%= link_to 'Create New Bear', new_bear_path %>
